<div class="body">
    {% include title.html %}
    <div class="content">
        {% for collection in site.collections %}
        <h2>{{ collection.label | capitalize }}</h2>
        <table>
            {% for item in site[collection.label] %}
            <tr>
                <td class="w-[200px]">
                    <time class="post-date inline mr-2" datetime="{{ item.date | date_to_xmlschema }}">{{ item.date  | date: "%-d %B, %Y" }}</time>
                </td>
                <td>
                    <a href="{{ item.url }}">{{ item.title }}</a>
                </td>
            </tr>
            {% endfor %}
        </table>
        {% endfor %}
    </div>
</div>