<div class="body">
    {% include title.html %}
    <div class="content collection">
        {% for item in site.[page.collection] %}

        <div class="journal-item w-full md:flex md:gap-[40px]">
            {% if item.thumbnail %}
                <div style="background-image: url('{{ item.thumbnail }}'); background-size: {{ item.heroImageSize | default: 'cover' }}"
                     class=" flex flex-col w-full h-[250px] md:w-[150px] h-[300px] md:h-[150px] rounded-lg bg-no-repeat bg-center mb-[20px] md:mb-0]">
                </div>
            {% endif %}
            <div class="description flex flex-col self-stretch items-start flex-1 gap-[20px]">
                <a href="{{item.url}}" class="flex flex-col items-start gap-[10px] " >
                    <h2 class="hover:text-red m-0 ">{{ item.title }}</h2>
                    <h6>{{ item.date  | date: "%-d %B, %Y" }}</h6>
                    {% include tags.html tags=item.categories %}
                    <p class="md:mt-[20px]">{{ item.description | truncatewords: 25 }}</p>
                </a>
            </div>

        </div>
        {% if forloop.last == false %}
        <div class="divider"></div>
        {% endif %}
        {% endfor %}
    </div>
</div>