<footer>
    <div class="divider"></div>

    <div
        class="flex flex-col sm:flex-row px-[40px]"
        style="

        justify-content: center;
        align-items: flex-start;
        gap: 80px;
        text-align: start;
        align-self: stretch;
">
        <div class="description">
            <p class="font-bold mb-[10px]">
                Jeroen Boumans
            </p>
            <p class="mb-[20px]">
                Developer during the weekdays, newbie astro photographer during the nights. For any questions, do not hesitate to contact me.
            </p>
            <p>Clear skies!</p>
        </div>
        <nav class="items-center sm:items-end">

            {% for link in site.data.menu-footer.links %}
                <a href="{{link.link}}" class="font-bold hover:text-red transition-colors duration-300">{{link.title}}</a>
            {% endfor %}

        </nav>
    </div>

    <div style="display: flex;
        flex-direction: column;
        justify-content: center;
        align-self: stretch;">
        <div class="divider"></div>
        <p class="mt-[40px] px-[40px]">{{ 'now' | date: "%Y" }} © UNDERSAMPLED, Jeroen Boumans</p>
    </div>

</footer>