
{% include elements/divider-dots.html %}

<footer class="
    flex flex-col
    mt-[30px] md:mt-[80px]
    gap-[30px] md:gap-[60px]

">
    <div
        class="
        flex flex-col sm:flex-row

        py-0 md:px-[20px] lg:px-[40px]

        gap-[30px] md:gap-[80px]"

        style="
            justify-content: center;
            align-items: flex-start;
            text-align: start;
            align-self: stretch;
        ">

        <div class="description flex flex-col gap-[10px]">
            <p class="font-bold mb-[10px]">
                Jeroen Boumans
            </p>
            <div class="socials my-[10px] flex flex-row gap-[10px] items-center">

                <a href="https://www.astrobin.com/users/jeroenboumans/" class="m-0 p-0 h-[20px] inline-block" target="_blank">
                    <img class="w-auto h-[24px] m-0 p-0" src="https://images.squarespace-cdn.com/content/v1/5e333ecc5d21eb4f38e58863/1580418055713-GHUKGBP4E1AIODA77FR9/astrobin-64x64.png?format=1500w">
                </a>

            </div>
            <p class="mb-[20px]">
                Developer during the weekdays, newbie astro photographer during the nights. For any questions, do not hesitate to contact me.
            </p>
            <p>Clear skies!</p>



        </div>
        <nav class="items-center sm:items-end grid grid-cols-2 sm:grid-cols-1">

            {% for link in site.data.menu-footer.links %}
                <a href="{{link.link}}" class="font-bold hover:text-red transition-colors duration-300">{{link.title}}</a>
            {% endfor %}

        </nav>
    </div>

    <div style="display: flex;
        flex-direction: column;
        justify-content: center;
"
    class="py-0 md:px-[20px] lg:px-[40px]">

        {% include elements/divider-spectrum.html %}

        <p class="mt-[40px] font-noto-sans font-black"><a href="/">UNDERSAMPLED ©{{ 'now' | date: "%Y" }}</a></p>
    </div>

</footer>
