<!DOCTYPE html>
<html lang="en"
      x-data="{darkMode: localStorage.getItem('darkMode') || localStorage.setItem('darkMode', 'system')}"
      x-init="$watch('darkMode', val => localStorage.setItem('darkMode', val))"
      x-bind:class="{'dark': darkMode === 'dark' || (darkMode === 'system' && window.matchMedia('(prefers-color-scheme: dark)').matches)}"
      >
    <head>
        <meta charset="UTF-8">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="/assets/dist-style.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Noto+Serif&display=swap">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Noto+Sans+Mono&display=swap">
        <link rel="stylesheet" x-bind:href="'/assets/css/igorpro.' + (darkMode == 'dark' || window.matchMedia('(prefers-color-scheme: dark)').matches ? 'dark' : 'light') + '.css'" >
        <link rel="me" href="https://mastodon.social/@jeroenboumans">
        <meta name="fediverse:creator" content="@jeroenboumans@mastodon.social">
        <script src="//unpkg.com/alpinejs" defer></script>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />


        <link rel="icon" type="image/svg+xml" x-bind:href="'/assets/favicons/' + (darkMode == 'dark' || window.matchMedia('(prefers-color-scheme: dark)').matches ? 'dark' : 'light') + '.svg'">

        <title>{{ page.title }}</title>
    </head>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-F87ZEN1DEY"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', 'G-F87ZEN1DEY');
    </script>
<body x-data="{atTop: true}" >
<script>
    const selectedTheme = localStorage.getItem('darkMode');
    const element = document.getElementsByTagName( 'html' );
    if(element)
        element[0].classList[selectedTheme === 'dark' || (selectedTheme === 'system' && window.matchMedia('(prefers-color-scheme: dark)').matches) ? 'add' : 'remove']('dark');
</script>

