<div class="title w-full mb-0 md:mb-[50px] xl:mb-[70px] mt-[100px] md:mt-[150px]">
    <h1>{{page.title}}</h1>

    {% if page.subtitle %}
    <h2>{{page.subtitle}}</h2>
    {% endif %}

    {% if page.date %}
    <h6>{{page.date | date: "%-d %B, %Y"  }}</h6>
    {% endif %}
    {% include tags.html tags=page.tags %}
</div>

{% if page.heroImage %}
<!-- blue rgba(94,0,255,0.2)-->
<!-- red rgba(255,16,0,0.2)-->
<div class="hero relative
    aspect-square md:aspect-video
    border-[1px]
    border-[rgba(255,255,255,0.075)]
    mb-0 md:dark:mb-[60px]"
     style="
     background-image: url({{page.heroImage}});
    {% if page.heroImageSize %}
        background-size: {{page.heroImageSize}};
    {% endif %}

    {% if page.heroImagePosition %}
        background-position: {{page.heroImagePosition}};
    {% endif %}
">
    {% if page.heroImageSource %}
    <div class="absolute w-full h-full left-0 top-0 right-0 bottom-0 blur-[50px] opacity-20 md:opacity-40 saturate-[3] -z-10"
         style="
                 background-image: url({{page.heroImage}});
                {% if page.heroImageSize %}
                    background-size: {{page.heroImageSize}};
                {% endif %}

                {% if page.heroImagePosition %}
                    background-position: {{page.heroImagePosition}};
                {% endif %}
            "></div>
        <div class="hover:text-white/50 text-white" >
                <a href="{{page.heroImageSource}}" target="_blank" class="font-medium font-noto-sans p-[10px] lg:p-[20px] block">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M13.5 6H5.25A2.25 2.25 0 003 8.25v10.5A2.25 2.25 0 005.25 21h10.5A2.25 2.25 0 0018 18.75V10.5m-10.5 6L21 3m0 0h-5.25M21 3v5.25" />
                </svg>
            </a>
        </div>
    {% endif %}
</div>
{% endif %}

<!--     -->
