<div class="title w-full mb-0 md:mb-[50px] xl:mb-[70px] mt-[100px] md:mt-[150px]">
    <h1>{{page.title}}</h1>

    {% if page.subtitle %}
    <h2>{{page.subtitle}}</h2>
    {% endif %}

    {% if page.date %}
    <h6>{{page.date | date: "%-d %B, %Y"  }}</h6>
    {% endif %}
    {% include tags.html tags=page.categories %}
</div>

{% if page.heroImage %}
<!-- blue rgba(94,0,255,0.2)-->
<!-- red rgba(255,16,0,0.2)-->
<div class="hero
    aspect-square md:aspect-video
    border-[1px]
    border-[rgba(255,255,255,0.075)]
    mb-0 md:dark:mb-[60px]"
     style="
     background-image: url({{page.heroImage}});
    {% if page.heroImageSize %}
        background-size: {{page.heroImageSize}};
    {% endif %}
"></div>
{% endif %}

<!--     -->
