
<div class="title w-full mb-0 md:mb-[50px] xl:mb-[70px] mt-[100px] md:mt-[130px]">
    <svg width="48" height="48" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg" class="mb-0 md:mb-[50px] xl:mb-[70px] ">
        <mask id="mask0_409_607" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="29" y="26" width="16" height="16">
            <circle cx="36.55" cy="34.475" r="7.5" transform="rotate(-180 36.55 34.475)" fill="#D9D9D9" style="fill:#D9D9D9;fill:color(display-p3 0.8510 0.8510 0.8510);fill-opacity:1;"/>
        </mask>
        <g mask="url(#mask0_409_607)">
            <rect width="47.1429" height="15" rx="7.5" transform="matrix(-1 -8.74228e-08 -8.74228e-08 1 44.05 26.975)" fill="url(#paint0_linear_409_607)" style=""/>
        </g>
        <mask id="mask1_409_607" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="4" y="26" width="15" height="16">
            <circle cx="11.5" cy="34.475" r="7.5" transform="rotate(-180 11.5 34.475)" fill="#D9D9D9" style="fill:#D9D9D9;fill:color(display-p3 0.8510 0.8510 0.8510);fill-opacity:1;"/>
        </mask>
        <g mask="url(#mask1_409_607)">
            <rect width="47.1429" height="15" rx="7.5" transform="matrix(-1 -8.74228e-08 -8.74228e-08 1 51.1429 26.975)" fill="url(#paint1_linear_409_607)" style=""/>
        </g>
        <mask id="mask2_409_607" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="16" y="5" width="16" height="16">
            <circle cx="24.025" cy="13.475" r="7.5" transform="rotate(-180 24.025 13.475)" fill="#D9D9D9" style="fill:#D9D9D9;fill:color(display-p3 0.8510 0.8510 0.8510);fill-opacity:1;"/>
        </mask>
        <g mask="url(#mask2_409_607)">
            <rect width="47.1429" height="15" rx="7.5" transform="matrix(-1 -8.74228e-08 -8.74228e-08 1 47.5964 5.97501)" fill="url(#paint2_linear_409_607)" style=""/>
        </g>
        <defs>
            <linearGradient id="paint0_linear_409_607" x1="0" y1="7.5" x2="47.1429" y2="7.5" gradientUnits="userSpaceOnUse">
                <stop stop-color="#FF0000" style="stop-color:#FF0000;stop-color:color(display-p3 1.0000 0.0011 0.0011);stop-opacity:1;"/>
                <stop offset="0.298077" stop-color="#FFC400" style="stop-color:#FFC400;stop-color:color(display-p3 1.0000 0.7667 0.0000);stop-opacity:1;"/>
                <stop offset="0.5625" stop-color="white" style="stop-color:white;stop-opacity:1;"/>
                <stop offset="0.807692" stop-color="#6AD2FF" style="stop-color:#6AD2FF;stop-color:color(display-p3 0.4176 0.8253 1.0000);stop-opacity:1;"/>
                <stop offset="1" stop-color="#8800FF" style="stop-color:#8800FF;stop-color:color(display-p3 0.5333 0.0000 1.0000);stop-opacity:1;"/>
            </linearGradient>
            <linearGradient id="paint1_linear_409_607" x1="0" y1="7.5" x2="47.1429" y2="7.5" gradientUnits="userSpaceOnUse">
                <stop stop-color="#FF0000" style="stop-color:#FF0000;stop-color:color(display-p3 1.0000 0.0011 0.0011);stop-opacity:1;"/>
                <stop offset="0.298077" stop-color="#FFC400" style="stop-color:#FFC400;stop-color:color(display-p3 1.0000 0.7667 0.0000);stop-opacity:1;"/>
                <stop offset="0.5625" stop-color="white" style="stop-color:white;stop-opacity:1;"/>
                <stop offset="0.807692" stop-color="#6AD2FF" style="stop-color:#6AD2FF;stop-color:color(display-p3 0.4176 0.8253 1.0000);stop-opacity:1;"/>
                <stop offset="1" stop-color="#8800FF" style="stop-color:#8800FF;stop-color:color(display-p3 0.5333 0.0000 1.0000);stop-opacity:1;"/>
            </linearGradient>
            <linearGradient id="paint2_linear_409_607" x1="0" y1="7.5" x2="47.1429" y2="7.5" gradientUnits="userSpaceOnUse">
                <stop stop-color="#FF0000" style="stop-color:#FF0000;stop-color:color(display-p3 1.0000 0.0011 0.0011);stop-opacity:1;"/>
                <stop offset="0.298077" stop-color="#FFC400" style="stop-color:#FFC400;stop-color:color(display-p3 1.0000 0.7667 0.0000);stop-opacity:1;"/>
                <stop offset="0.5625" stop-color="white" style="stop-color:white;stop-opacity:1;"/>
                <stop offset="0.807692" stop-color="#6AD2FF" style="stop-color:#6AD2FF;stop-color:color(display-p3 0.4176 0.8253 1.0000);stop-opacity:1;"/>
                <stop offset="1" stop-color="#8800FF" style="stop-color:#8800FF;stop-color:color(display-p3 0.5333 0.0000 1.0000);stop-opacity:1;"/>
            </linearGradient>
        </defs>
    </svg>



    <h1>{{page.title}}</h1>

    {% if page.subtitle %}
    <h2>{{page.subtitle}}</h2>
    {% endif %}

    {% if page.date %}
    <h6>{{page.date | date: "%-d %B, %Y"  }}</h6>
    {% endif %}
    {% include tags.html tags=page.tags %}
</div>

{% if page.heroImage %}
<!-- blue rgba(94,0,255,0.2)-->
<!-- red rgba(255,16,0,0.2)-->
<div
    class="hero relative
        aspect-square md:aspect-video
        border-[1px]
        border-[rgba(255,255,255,0.075)]
        mb-0 md:dark:mb-[60px]"
    style="
        background-image: url({{page.heroImage}});
        background-size: {{page.heroImageSize | default: 'cover'}};
        background-position: {{page.heroImagePosition | default: 'center'}};
    ">
    {% if page.heroImageSource %}
    <div class="absolute w-full h-full left-0 top-0 right-0 bottom-0 blur-[50px] opacity-80 md:opacity-80 saturate-[3]"
         style="
            z-index: -10;
            background-image: url({{page.heroImage}});
            background-size: {{page.heroImageSize | default: 'cover'}};
            background-position: {{page.heroImagePosition | default: 'center'}};
        ">

    </div>
    <div class="hover:text-white/50 text-white" >
            <a href="{{page.heroImageSource}}" target="_blank" class="font-medium font-noto-sans p-[10px] lg:p-[20px] block">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                <path stroke-linecap="round" stroke-linejoin="round" d="M13.5 6H5.25A2.25 2.25 0 003 8.25v10.5A2.25 2.25 0 005.25 21h10.5A2.25 2.25 0 0018 18.75V10.5m-10.5 6L21 3m0 0h-5.25M21 3v5.25" />
            </svg>
        </a>
    </div>
    {% endif %}
</div>
{% endif %}

<!--     -->
