<div  x-data="{ modalOpen: false, divClass: 'inner', color: 'red', activeUrl: '', activeLabel: '' }">

    <div  x-on:click="modalOpen = false" x-show="modalOpen == true" x-bind:class="`${divClass}`"  style="display: none" class="
            fixed
            w-full

            flex flex-col
            justify-center content-center

            top-0 left-0 bottom-0 right-0
            bg-black/80  p-0">

        <div class="max-w-[960px] flex flex-col m-auto gap-[10px] p-[20px]">
            <img class="cursor-pointer block w-[75%] mx-auto object-cover  self-center" x-bind:src="activeUrl" >

            <div class="flex flex-row content-center items-center mx-auto font-black font-noto-sans gap-[20px]">
    <!--            <span x-on:click="modalOpen = true"><svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 text-white">-->
    <!--                  <path stroke-linecap="round" stroke-linejoin="round" d="M19.5 12h-15m0 0l6.75 6.75M4.5 12l6.75-6.75" />-->
    <!--                </svg>-->
    <!--            </span>-->
                <p class="self-center w-full text-center  text-white m-0 p-0" style="margin: 0;" x-html="activeLabel"></p>
    <!--            <span><svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 text-white">-->
    <!--                  <path stroke-linecap="round" stroke-linejoin="round" d="M4.5 12h15m0 0l-6.75-6.75M19.5 12l-6.75 6.75" />-->
    <!--                </svg>-->
    <!--            </span>-->
            </div>
        </div>
    </div>

    <div class="grid grid-cols-2 sm:grid-cols-2 {{page.captures | size | at_most:3}} gap-[20px] md:gap-[40px] mt-[20px]">
        {% for frame in page.captures %}
        <div>
            <div class="flex w-full items-end justify-end aspect-square rounded-lg border-[1px] border-[rgba(255,255,255,0.075)] cursor-pointer "
                 style="background-size: cover; background-image: url('{{frame.url}}');" x-on:click="activeUrl = '{{frame.url}}';activeLabel = '{{frame.label}}'; modalOpen = true"
            >
                <div class="hover:text-white/50 text-white p-[10px] lg:p-[20px]" >
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 3.75v4.5m0-4.5h4.5m-4.5 0L9 9M3.75 20.25v-4.5m0 4.5h4.5m-4.5 0L9 15M20.25 3.75h-4.5m4.5 0v4.5m0-4.5L15 9m5.25 11.25h-4.5m4.5 0v-4.5m0 4.5L15 15" />
                    </svg>

                </div>
            </div>
            <em>{{frame.label}}</em>
        </div>
        {% endfor %}
    </div>
</div>